*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    font-size: 20px;
}
.wrap{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.wrap>.top{
    height: 150px;
    background: #f2f2f2;
}
.wrap>.top>p{
    font-weight: bold;
    height: 100%;
    line-height: 150px;
    padding-left: 20px;
    font-size: 2em;
}
.wrap>.top>p>img{
    width: 70px;
    height: 70px;
    float: right;
    margin: 40px 30px;
}
.wrap>.content{
    position: relative;
    overflow: auto;
    flex:1;
}
.wrap>.content>.word_box{
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.wrap>.content>.word_box>ul>li{
    list-style: none;
}
.wrap>.content>.word_box>ul>li>a{
    display: block;
    color: black;
    font-size: 1.2em;
    text-decoration: none;
}
.wrap>.content>.label{
    height: 488px;
}
.wrap>.content>.label>ul>li{
    list-style: none;
    height: 120px;
    border-bottom: 2px solid rgb(237,237,237);
    display: flex;
    align-items: center;
}
.wrap>.content>.label>ul>li>.box{
    border: 1px solid;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    margin-left: 20px;
}
.wrap>.content>.label>ul>li>div>.common_img{
    width: 120px;
    padding: 10px;
}
.wrap>.content>.label>ul>li>div>.common_img>img{
    width: 80px;
    height: 80px;
}
.wrap>.content>.label>ul>li>.box1{
    background: rgb(250,158,59);
}
.wrap>.content>.label>ul>li>.box2{
    background: rgb(7,193,96);
}

.wrap>.content>.label>ul>li>.box3{
    background: #2781D7;
}
.wrap>.content>.label>ul>li>.txt{
    position: relative;
    padding: 20px;
    flex: 1;
    font-size: 2em;
}
.wrap>.content>.communication{
    flex: 1;
}
.wrap>.content>.communication>p{
    background: rgb(237, 237, 237);
    padding: 10px 10px 10px 25px;
    font-size: 1.5em;
}
.wrap>.content>.communication>p>a{
    text-decoration: none;
    color: black;
}
.wrap>.content>.communication>div>ul>li{
    list-style: none;
    height: 150px;
    border-bottom: 2px solid rgb(237,237,237);
    display: flex;
    align-items: center;
}
.wrap>.content>.communication>div>ul>li>.img{
    width: 150px;
}
.wrap>.content>.communication>div>ul>li>.img>img{
    width: 130px;
    height: 130px;
    margin: 20px;
}
.wrap>.content>.communication>div>ul>li>.txt{
    position: relative;
    padding: 20px;
    flex: 1;
    font-size: 2em;
}
